# Ignore local environment and cache
venv/
__pycache__/
.env
.dist/

# Ignore heavy training data and local evaluation previews
data/
evaluation/

# Ignore the old heavy PyTorch weights (6GB fix)
gen.pth

# ENSURE these are tracked and uploaded
!model.onnx
!model.onnx.data
!app.py
!requirements.txt
!templates/
!static/
!models/