# --- IGNORE SECTION (Keep these OUT of Vercel) ---
venv/
__pycache__/
.dist/
.env
data/
evaluation/
gen.pth
*.py[cod]
*.png
*.jpg

# --- FORCE INCLUDE SECTION (Ensure these are UPLOADED) ---
!model.onnx
!model.onnx.data
!app.py
!requirements.txt
!vercel.json
!templates/
!static/
!models/